.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tasks {
  /* Your tasks CSS */
}

.notes {
  /* Your notes CSS */
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ebeca3da;
}

#notesContainer {
  position: relative; /* Changed from absolute to relative */
  top: 0; /* Changed from 50% to 0 */
  left: 0;
  transform: none; /* Removed the translateY transform */
}

.header {
  display
}